$main-font: 'Montserrat', sans-serif;

$primary-text-color: #111518;
$secondary-text-color: #b9b9b9;
$accent-color: #ff6b09;
$primary-white-color: #ffffff;
$teacher-color: #3d3d3d;
$backdrop-mobile-menu-color: rgba(17, 21, 24, 0.95);

$mobile: 480px;
$tablet: 768px;
$desktop: 1680px;

$timing: cubic-bezier(0.4, 0, 0.2, 1);
