<footer class="footer" data-dark-theme17>
  <div class="footer-contact__container">
    <div class="footer-contact">
      <div class="footer-contact__logo">
        <a class="footer-logo__link" href="./index.html" data-dark-theme-logo3>
          <svg class="footer-logo__icon" width="128" height="45">
            <use href="./images/icons/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <a
          class="footer-logo__link-dark-theme"
          href="./index.html"
          data-dark-theme-logo4
        >
          <img
            src="./images/program/logo-mobile-menu.svg"
            alt="Логотип"
            width="128"
            height="28"
          />
        </a>
      </div>
      <ul class="footer-contact__list list">
        <li class="footer-contact__item footer-contact__item--phone">
          <a href="tel:+380000000000" class="footer-contact__link link">
            <svg class="footer-contact__icon--phone" width="30" height="28.82">
              <use href="./images/icons/icons.svg#icon-phone"></use>
            </svg>
            <span data-theme-text22>+38 (000) 000 00 00</span></a
          >
        </li>
        <li class="footer-contact__item footer-contact__item--insta">
          <a
            href="https://www.instagram.com/"
            class="footer-contact__link--insta"
            target="_blank"
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom__discription">@ All rights reserved, 2022</p>
  </div>
</footer>
