<section class="hero-section" data-dark-theme1>
  <div class="container">
    <div class="hero__flex-wrapper">
    <div class="">
    <h1 class="hero-section__title wow fadeInLeft" data-wow-duration="1s" data-theme-text>Complex <br class="hero-br"> preparation for <br class="hero-br"> English UPE</h1>
    <p class="hero-section__text wow fadeInLeft" data-wow-duration="1s" data-theme-text1>
      <span class="hero-section__text-wrapper">It won’t be easy.</span>  </br> But you’re guaranteed to get <br class="hero-section__br"> <span class="hero-section__text-wrapper hero-section__text-wrapper--accent-color" data-theme-text2>+25 points</span> 
    </p>
    <a href="#contacts" class="hero-section__button wow zoomIn" data-wow-duration="1s" data-wow-delay="0.5s">I want a free lesson</a>
    </div>
    <div class="hero-section__background-img"></div>
    </div>
    <ul class="card-set">
      <li class="card-set__item card-set__item--icon-one"> <span class="card-set__text-wrapper" data-theme-text3>Adapted author's <br> UPE program</span> </li>
      <li class="card-set__item card-set__item--icon-two"> <span class="card-set__text-wrapper" data-theme-text4>Modern <br> teaching methods</span> </li>
      <li class="card-set__item card-set__item--icon-three"> <span class="card-set__text-wrapper" data-theme-text5>Financial guarantee <br> the result</span> </li>
    </ul>
  </div>
</section>
