<section class="section how-section" id="training-option" data-dark-theme4>
  <div class="container">
    <h2
      class="container__title wow fadeInLeft"
      data-wow-duration="1s"
      data-theme-text7
    >
      How do we do it
    </h2>
    <ul class="how-list">
      <li
        class="how-list__item wow slideInUp"
        data-wow-duration="1s"
        data-dark-theme5
        data-dark-theme-shadow1
      >
        <svg class="how-list__icon">
          <use href="./images/spite.svg#hwd_icon-1"></use>
        </svg>
        <h3 class="how-list__title" data-theme-text8>
          Adapted program preparation for UPE
        </h3>
        <p class="how-list__article">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays.
        </p>
      </li>
      <li
        class="how-list__item wow slideInUp"
        data-wow-duration="1s"
        data-dark-theme6
        data-dark-theme-shadow2
      >
        <svg class="how-list__icon">
          <use href="./images/spite.svg#hwd_icon-2"></use>
        </svg>
        <h3 class="how-list__title" data-theme-text9>
          Classroom and online learning
        </h3>
        <p class="how-list__article">
          The teacher will help not only in the classroom, but also during home
          preparation.Parents can chat if they wish.
        </p>
      </li>
      <li
        class="how-list__item wow slideInUp"
        data-wow-duration="1s"
        data-dark-theme7
        data-dark-theme-shadow3
      >
        <svg class="how-list__icon">
          <use href="./images/spite.svg#hwd_icon-3"></use>
        </svg>
        <h3 class="how-list__title" data-theme-text10>
          The habit of reading in English
        </h3>
        <p class="how-list__article">
          Articles from sources that are used in the development of this UPE
          will be received by phone twice a week.
        </p>
      </li>
      <li
        class="how-list__item wow slideInUp"
        data-wow-duration="1s"
        data-dark-theme8
        data-dark-theme-shadow4
      >
        <svg class="how-list__icon">
          <use href="./images/spite.svg#hwd_icon-4"></use>
        </svg>
        <h3 class="how-list__title" data-theme-text11>Psychological support</h3>
        <p class="how-list__article">
          We will teach you testing techniques, the ability to plan your
          confidence training in itself.
        </p>
      </li>
      <li
        class="how-list__item wow slideInUp"
        data-wow-duration="1s"
        data-dark-theme9
        data-dark-theme-shadow5
      >
        <svg class="how-list__icon">
          <use href="./images/spite.svg#hwd_icon-5"></use>
        </svg>
        <h3 class="how-list__title" data-theme-text12>
          Training on copyright manuals
        </h3>
        <p class="how-list__article">
          You don't have to waste your time on a search for material and to buy
          anything extra. We have compiled 2 manuals for you.
        </p>
      </li>
      <li
        class="how-list__item wow slideInUp"
        data-wow-duration="1s"
        data-dark-theme10
        data-dark-theme-shadow6
      >
        <svg class="how-list__icon">
          <use href="./images/spite.svg#hwd_icon-6"></use>
        </svg>
        <h3 class="how-list__title" data-theme-text13>
          Ability to comprehend spoken English
        </h3>
        <p class="how-list__article">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze
          audio recordings in accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
