<section class="problems" data-dark-theme3>
  <div class="container">
    <h2 class="section__title wow fadeInLeft" data-wow-duration="1s">
      The main problems of students <br />
      in English UPE, which <br />
      we <span class="section__title--accent">help</span> to solve
    </h2>

    <div class="list-container" data-dark-theme2 data-dark-theme-shadow>
      <ol class="problems-list" data-theme-text6>
        <li class="problems-list__item">
          <p class="problems-list__article">Grammar</p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Inability to understand spoken English
          </p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Stingy vocabulary for writing an essay
          </p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">Preparing alone</p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Lack of a single knowledge resource
          </p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Lack of self-organization and laziness
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
