<!-- Our program -->
<section class="program" id="program" data-dark-theme13>
  <div class="program__container">
    <h2 class="program__title wow fadeInLeft" data-wow-duration="1s" >Our program</h2>
    <div class="program__block">
      <div class="program__unit">
        <h3 class="program__header">1 semester</h3>
        <ul class="program__list">
          <li class="program__item">
            <h4 class="program__element">— Grammar</h4>
            <p class="program__text">Nouns & Articles</p>
            <p class="program__text">Adjectives & Adverb</p>
          </li>
          <li class="program__item">
            <h4 class="program__element">— Vocabulary</h4>
            <p class="program__text">Family & Relations</p>
            <p class="program__text">People & Society</p>
          </li>
        </ul>
        <div class="program__circle"></div>
      </div>
      <div class="program__unit">
        <h3 class="program__header">2 semester</h3>
        <ul class="program__list">
          <li class="program__item">
            <h4 class="program__element">— Grammar</h4>
            <p class="program__text">Pronouns</p>
            <p class="program__text">Active Voice</p>
            <p class="program__text">Passive Voice</p>
          </li>
          <li class="program__item">
            <h4 class="program__element">— Vocabulary</h4>
            <p class="program__text">Home</p>
            <p class="program__text">School</p>
            <p class="program__text">Work</p>
          </li>
        </ul>
        <div class="program__circle"></div>
      </div>
      <div class="program__unit">
        <h3 class="program__header">3 semester</h3>
        <ul class="program__list">
          <li class="program__item">
            <h4 class="program__element">— Grammar</h4>
            <p class="program__text">Modal verbs</p>
            <p class="program__text">Infinitive</p>
            <p class="program__text">Gerund</p>
            <p class="program__text">Participle: 1, 2</p>
          </li>
          <li class="program__item">
            <h4 class="program__element">— Vocabulary</h4>
            <p class="program__text">Travel & Tourism</p>
            <p class="program__text">Culture & Free Time</p>
            <p class="program__text">Sport</p>
          </li>
          <li class="program__item">
            <h4 class="program__element">— Writing</h4>
            <p class="program__text">Informal Lettert</p>
          </li>
        </ul>
        <div class="program__circle"></div>
      </div>
      <div class="program__unit">
        <h3 class="program__header">4 semester</h3>
        <ul class="program__list">
          <li class="program__item--fourth-semester">
            <h4 class="program__element">— Grammar</h4>
            <p class="program__text-fourth-semester">
              Clauses: Conditional and Wishes
            </p>
            <p class="program__text-fourth-semester">
              Direct / Reported speech
            </p>
            <p class="program__text-fourth-semester">Preposition</p>
            <p class="program__text-fourth-semester">Conjunction</p>
            <p class="program__text-fourth-semester">Numeral</p>
          </li>
          <li class="program__item--fourth-semester">
            <h4 class="program__element">— Vocabulary</h4>
            <p class="program__text-fourth-semester">Healthy Living</p>
            <p class="program__text-fourth-semester">Nature & Environment</p>
            <p class="program__text-fourth-semester">Money</p>
          </li>
          <li class="program__item--fourth-semester">
            <h4 class="program__element">— Writing</h4>
            <p class="program__text">Formal Letter</p>
          </li>
        </ul>
        <div class="program__circle"></div>
      </div>
      <div class="program__unit">
        <h3 class="program__header">5 semester</h3>
        <ul class="program__list">
          <li class="program__item">
            <h4 class="program__element">— Vocabulary</h4>
            <p class="program__text">Revision</p>
            <p class="program__text">Tests</p>
          </li>
        </ul>
        <div class="program__circle"></div>
      </div>
      <picture class="program__picture">
        <source
          srcset="
            ./images/program/program-des-x1.jpg 1x,
            ./images/program/program-des-x2.jpg 2x
          "
          media="(min-width: 1680px)"
        />
        <source
          srcset="
            ./images/program/program-tab-x1.jpg 1x,
            ./images/program/program-tab-x2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/program/program-mob-x1.jpg 1x,
            ./images/program/program-mob-x2.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="program__image"
          src="./images/program/program-des-x1.jpg"
          alt="Lesson with a teacher"
        />
      </picture>
    </div>
    <div class="program__line"></div>
  </div>
  <div class="container">
    <h2 class="list__title wow fadeInLeft" data-wow-duration="1s">
      Why do people 
      choose us 
    </h2>

    <div class="list-container" data-dark-theme11 data-dark-theme-shadow7>
      <ol class="problems-list" data-theme-text14>
        <li class="problems-list__item">
          <p class="problems-list__article">Training in small groups</p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Rendered notes
          </p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Each lesson has a goal and a specific result
          </p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">The real results of the teacher</p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="problems-list__item">
          <p class="problems-list__article">
            Set of groups by level of knowledge
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
</section>
