<section class="reviews" data-dark-theme16>
  <div class="reviews__container" data-dark-theme-shadow9>
    <h2 class="reviews__title wow zoomIn" data-wow-duration="1s">
      Feedback from graduates
    </h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/reviews-1-tab-des-x1.jpg 1x,
                    ./images/feedback/reviews-1-tab-des-x2.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/reviews-1-mob-x1.jpg 1x,
                    ./images/feedback/reviews-1-mob-x1.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/reviews-1-tab-des-x1.jpg"
                  alt="Tonya Kucherovskaya"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Tonya Kucherovskaya</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/lady2.jpg 1x,
                    ./images/feedback/lady2.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/lady2.jpg 1x,
                    ./images/feedback/lady2.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/lady2.jpg"
                  alt="Anna Orlova"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Anna Orlova</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/lady3.jpg 1x,
                    ./images/feedback/lady3.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/lady3.jpg 1x,
                    ./images/feedback/lady3.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/lady3.jpg"
                  alt="Valeria Medyanskaya"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Valeria Medyanskaya</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/lady4.jpg 1x,
                    ./images/feedback/lady4.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/lady4.jpg 1x,
                    ./images/feedback/lady4.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/lady4.jpg"
                  alt="Alla Dolya"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Alla Dolya</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/lady5.jpg 1x,
                    ./images/feedback/lady5.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/lady5.jpg 1x,
                    ./images/feedback/lady5.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/lady5.jpg"
                  alt="Irina Tereschyuk"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Irina Tereschyuk</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/lady6.jpg 1x,
                    ./images/feedback/lady6.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/lady6.jpg 1x,
                    ./images/feedback/lady6.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/lady6.jpg"
                  alt="Anastasia Repeta"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Anastasia Klimchyk</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__block">
            <div class="reviews__picture">
              <picture class="reviews__image">
                <source
                  srcset="
                    ./images/feedback/lady7.jpg 1x,
                    ./images/feedback/lady7.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/feedback/lady7.jpg 1x,
                    ./images/feedback/lady7.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  class="reviews__image"
                  src="./images/feedback/lady7.jpg"
                  alt="Alina Shevchenko"
                />
              </picture>
              <ul class="reviews__social social">
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Instagram">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Facebook">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__button" href="/" aria-label="Linkedin">
                    <svg class="social__icon" width="22" height="22">
                      <use href="/src/images/icons/social.svg#linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="reviews__person">
              <article>
                <h3 class="reviews__name">Alina Polischuk</h3>
                <p class="reviews__bio">
                  Graduated from 2015, National University of Bioresources and
                  natural history of Ukraine
                </p>
                <p class="reviews__feedback">
                  In a short time with Elena, I mastered grammar and replenished
                  my completely empty vocabulary. From the first lesson I
                  realized that I was on my plate. Elena and I became friends
                  because she was really worried about my success. She became an
                  authority for me, but I did not tremble in class, fearing to
                  make the slightest mistake. Now I can brag that I'm student
                  ...
                  <span class="reviews__feedback--accent">Read more</span>
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</section>
