.container {
  @extend %container;
}

.section {
  background-color: #fbfbfb;
  @extend %section;
}

.teacher__title {
  @extend %container__title;
  color: $primary-text-color;
  margin-bottom: 20px;

  @media screen and(min-width:768px) and (max-width: 1679px) {
    padding-left: 8px;
  }
  @include tablet {
    font-size: 26px;
    line-height: 1.31;
  }
  @include desktop {
    font-size: 46px;
  }
}

.teacher-container {
  @include tablet {
    display: flex;
  }
}

.teacher__wrap {
  flex-shrink: 0;
  @include tablet {
    margin-right: 68px;
  }

  @include desktop {
    margin-right: 172px;
  }
}

.teacher-about__wrap {
  @include tablet {
    padding-top: 50px;
  }
  @include desktop {
    padding-top: 75px;
  }
}

.teacher-title__secondary {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;

  @include desktop {
    font-size: 30px;
    line-height: 1.23;
  }

  &::after {
    content: '';
    margin-top: 8px;
    margin-bottom: 20px;
    display: block;
    width: 280px;
    border-bottom: 1px solid #b9b9b9;
    @include desktop {
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }
}

.teacher__photo {
  margin-bottom: 20px;
  width: 100%;
}

.teacher__list {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @include desktop {
    width: 530px;
  }
}

.teacher__item {
  position: relative;
  &::before {
    content: '';
    top: 2px;
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    background-size: contain;
    background-image: url(../images/icons/check.svg);
  }

  &:not(:last-child) {
    margin-bottom: 26px;
    @media screen and(min-width:768px) {
      margin-bottom: 31px;
    }
  }
}

.teacher__text {
  margin-left: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;
  color: $primary-text-color;
  @include tablet {
    font-size: 12px;
    line-height: 1.25;
  }
  @include desktop {
    font-size: 16px;
  }
}

.regular-before::before {
  margin-bottom: 20px;
  @extend %regular-before;
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $secondary-text-color;
  @include tablet {
    font-size: 10px;
    line-height: 2;
  }
  @include desktop {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.56;
    width: 668px;
  }
}

.about__button--certificate {
  margin-top: 8px;
  padding-left: 0;
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;
  text-decoration: underline;
  color: rgba(255, 107, 9, 0.651);

  &:hover {
    color: $accent-color;
  }

  @include tablet {
    font-size: 12px;
    line-height: 1.56;
    margin-top: 25px;
  }
  @include desktop {
    font-size: 18px;
  }
}

// --------------------backdrop/modal----------------------

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 21, 24, 0.8);
  backdrop-filter: blur(5px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include untilTablet {
    min-width: 300px;
    padding: 20px;
    z-index: 99;
  }
}

.modal__button--icon {
  width: 18px;
  height: 18px;
  fill: $primary-text-color;
  @include tablet {
    width: 25px;
    height: 25px;
  }

  @include desktop {
    width: 28px;
    height: 28px;
  }
}

.modal__button--icon--white {
  width: 25px;
  height: 25px;
  fill: $primary-white-color;

  @include tablet {
    width: 25px;
    height: 25px;
  }

  @include desktop {
    width: 40px;
    height: 40px;
  }

  .modal__button--close:hover & {
    cursor: pointer;
    fill: $accent-color;
  }
}

.modal__button--close {
  background-color: transparent;
  position: absolute;
  border: none;
  margin: 0;
  top: 50px;
  padding: 0;
  right: 55px;
  @include untilTablet {
    top: 40px;
    right: 44px;
  }

  @include tablet {
    top: 43px;
    right: 49px;
  }
}

.modal__button--close--form {
  top: 0px;
  right: 0px;
}

.modal__button--close:hover .modal__button--icon {
  cursor: pointer;
  fill: $accent-color;
}

.is-hidden,
.is-hidden_form {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden_form-mobile {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
